
{%extends "homepage.html"%}
{%load static %}
{%block content%}
{%include 'header2.html'%}
      <div class="breadcrumb breadcrumb-style-one">
         <div class="container">
            <div class="col-lg-12 text-center">
               <h2 class="breadcrumb-title">Билеты</h2>
               <ul class="d-flex justify-content-center breadcrumb-items">
                  <li class="breadcrumb-item"><a href="{%url 'index'%}">Домой</a></li>
                  <li class="breadcrumb-item active">Билеты</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="destination-wrapper pt-110">
         <div class="container">
            <div class="row g-3">
                {%for ticket in tickets%}
               <div class="col-lg-3 col-md-4 col-sm-6">
                  <div class="destination-card-style-two">
                     <div class="d-card-thumb">
                        <img src="{{ticket.image_ticket.url}}" alt="">
                     </div>
                     <div class="d-card-content">
                        <h4 class="destination-title"><a href="destination-details.html">{{ticket.name_ticket}}</a></h4>
                        <div class="place-count">
                        </div>
                     </div>
                  </div>
               </div>
               {%endfor%}
               
            </div>
            
         </div>
      </div>
      {%include 'footer.html'%}
{%endblock%}