
{%extends "homepage.html"%}
{%load static %}
{%block content%}
      {% include 'header.html'%}
      <div class="breadcrumb breadcrumb-style-one">
         <div class="container">
            <div class="col-lg-12 text-center">
               <h2 class="breadcrumb-title">Часто задаваемые вопросы</h2>
               <ul class="d-flex justify-content-center breadcrumb-items">
                  <li class="breadcrumb-item"><a href="{% url 'index'%}">Домой</a></li>
                  <li class="breadcrumb-item active">Часто задаваемые вопросы</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="faq-wrapper pt-76">
         <div class="container">
            <div class="row">
               <div class="col-lg-8">
                  <div class="faqs mt-30">
                     <h2>Часто <span>задаваемые </span><br>
                        вопросы
                     </h2>
                     <div class="accordion faq-accordion accordion-flush" id="faq-accordion-example">
                        {% for faq in faq%}
                        <div class="accordion-item faq-accordion">
                           <h2 class="accordion-header" id="faq-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapseTwo" aria-expanded="false" aria-controls="faq-collapseTwo">
                              {{faq.question}}
                              </button>
                           </h2>
                           <div id="faq-collapseTwo" class="accordion-collapse collapse" aria-labelledby="faq-headingTwo" data-bs-parent="#faq-accordion-example">
                              <div class="accordion-body">
                                <li>{{faq.answer}}</li>
                                 <p>
                                 </p>
                              </div>
                           </div>
                        </div>
                        {% endfor%}
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="faq-sidebar mt-30">
                     
                     <form  method="post">
                        {% csrf_token%}
                        <div class="faq-form">
                           <h3>Задавай вопрос
                        </h3>
                           <div class="custom-input-group">
                              <input type="text" placeholder="Ваше имя Name" name="name">
                           </div>
                           <div class="custom-input-group">
                              <input type="text" placeholder="Ваша почта" name="email">
                           </div>
                           
                           <div class="custom-input-group">
                              <textarea cols="20" rows="6" name = "question" placeholder="Ваш вопрос"></textarea>
                           </div>
                           <div class="custom-input-group">
                              <div class="submite-btn">
                                 <button type="submit">Отправить сейчас</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
     {% include 'footer.html'%}
      {%endblock%}
