
{%extends "homepage.html"%}
{%load static %}
{%block content%}

      {% include 'header2.html'%}
      <div class="breadcrumb breadcrumb-style-one">
         <div class="container">
            <div class="col-lg-12 text-center">
               <h2 class="breadcrumb-title">Наша команда</h2>
               <ul class="d-flex justify-content-center breadcrumb-items">
                  <li class="breadcrumb-item"><a href="{% url 'index'%}">Домой</a></li>
                  <li class="breadcrumb-item active">Наша команда</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="guide-wrapper  pt-80">
         <div class="container">
            <div class="row">
               {%for team in team%}
               <div class="col-lg-4 col-md-6">
                  <div class="guide-card-gamma">
                     <div class="guide-image">
                        <img src="{{team.team_image.url}}" alt="">
                        <ul class="guide-social-links">
                           {%if team.team_instagram%}
                           <li><a href="{{team.team_instagram}}"><i class='bx bxl-instagram'></i></a></li>
                           {%endif%}
                           {%if team.team_facebook%}

                           <li><a href="{{team.team_facebook}}"><i class='bx bxl-facebook'></i></a></li>
                           {%endif%}

                           {%if team.team_whatsapp%}

                           <li><a href="{{team.team_whatsapp}}"><i class='bx bxl-whatsapp'></i></a></li>
                           {%endif%}

                        </ul>
                        <div class="contact-lavel">
                           <a >{{team.team_email}}</a>
                        </div>
                     </div>
                     <div class="guide-content">
                        <h4 class="guide-name">{{team.team_name}}</h4>
                        <h6 class="guide-designation">{{team.team_work}}</h6>
                     </div>
                  </div>
               </div>
               {% endfor%}
            </div>
            
         </div>
      </div>
      {%include 'footer.html'%}
{%endblock%}