{%extends 'homepage.html'%}
{%load static%}
{%block content%}

      
      {%include 'header2.html'%}


      <div class="breadcrumb breadcrumb-style-one">
         <div class="container">
            <div class="col-lg-12 text-center">
               <h2 class="breadcrumb-title">{{tour.name_tour}}</h2>
               <ul class="d-flex justify-content-center breadcrumb-items">
                  <li class="breadcrumb-item"><a href="{% url 'index'%}">Домой</a></li>
                  <li class="breadcrumb-item active">{{tour.name_tour}}</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="package-details-wrapper pt-76">
         <div class="container">
            <div class="row ">
               <div class="col-lg-8">
                  <div class="tour-package-details">
                     <div class="pd-header">
                        <div class=" pd-top row row-cols-lg-4 row-cols-md-2 row-cols-2 gy-4">
                           <div class="col">
                              <div class="pd-single-info">
                                 <div class="info-icon">
                                    <img src="{% static 'assets/images/icons/pd1.svg' %}" alt="">
                                 </div>
                                 <div class="info">
                                    <h9>Продолжительность

                                       </h9>
                                    <span>{{tour.time_tour}}</span>
                                 </div>
                              </div>
                           </div>
                           <div class="col">
                              <div class="pd-single-info">
                                 <div class="info-icon">
                                    <img src="{% static 'assets/images/icons/pd2.svg' %}" alt="">
                                 </div>
                                 <div class="info">
                                    <h6>Тип тура</h6>
                                    <span>{{tour.type_tour}}</span>
                                 </div>
                              </div>
                           </div>
                           <div class="col">
                              <div class="pd-single-info">
                                 <div class="info-icon">
                                    <img src="{% static 'assets/images/icons/pd3.svg' %}" alt="">
                                 </div>
                                 <div class="info">
                                    <h6>Размер группы</h6>
                                    <span>{{tour.group_size_tour}}</span>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                        <div class="pd-thumb">
                           <img src="{{tour.image_tour.url}}" alt="">
                        </div>
                        <div class="header-bottom">
                           <div class="pd-lavel d-flex justify-content-between align-items-center flex-wrap gap-2">
                              <h5 class="location"><i class="bi bi-geo-alt"></i>{{tour.destination_tour}}</h5>
                              <ul class="d-flex align-items-center rating">
                                 <li><i class="bi bi-star-fill"></i></li>
                                 <li><i class="bi bi-star-fill"></i></li>
                                 <li><i class="bi bi-star-fill"></i></li>
                                 <li><i class="bi bi-star-fill"></i></li>
                                 <li><i class="bi bi-star-fill"></i></li>
                              </ul>
                           </div>
                           <h2 class="pd-title">{{tour.name_tour}}</h2>
                        </div>
                     </div>
                      <div class="package-details-tabs">
                        {% comment %} <ul class="nav nav-pills tab-switchers gap-xxl-4 gap-3" id="pills-tab" role="tablist">
                           <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pills-package1" data-bs-toggle="pill" data-bs-target="#pill-body1" type="button" role="tab" aria-controls="pill-body1" aria-selected="true"><i class="bi bi-info-lg"></i> Information</button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-package2" data-bs-toggle="pill" data-bs-target="#pill-body2" type="button" role="tab" aria-controls="pill-body2" aria-selected="false"> <i class="bi bi-file-earmark-spreadsheet"></i> Travel Plan</button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-package3" data-bs-toggle="pill" data-bs-target="#pill-body3" type="button" role="tab" aria-controls="pill-body3" aria-selected="false"><i class="bi bi-images"></i> Tour Gallary</button>
                           </li>
                           <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-package4" data-bs-toggle="pill" data-bs-target="#pill-body4" type="button" role="tab" aria-controls="pill-body4" aria-selected="false"><i class="bi bi-geo-alt"></i> Location</button>
                           </li>
                        </ul> {% endcomment %}
                        <div class="tab-content" id="pills-tabContent">
                           <div class="tab-pane fade show active package-info-tab mt-3" id="pill-body1" role="tabpanel" aria-labelledby="pills-package1">
                              <h3 class="d-subtitle">Детали пакета</h3>
                              <p>{{tour.description_tour}}</p>
                              <div class="p-info-featured-img row position-relative g-4 row-cols-1 row-cols-sm-2">
                                 <div class="col">
                                    <div class="featured-img">
                                       <img src="{{tour.first_image_tour.url}}" alt="">
                                    </div>
                                 </div>
                                 <div class="col">
                                    <div class="featured-img">
                                       <img src="{{tour.second_image_tour.url}}" alt="">
                                    </div>
                                 </div>
                                 
                              </div>
                              <table class="table package-info-table mb-0">
                                 <tbody>
                                    <tr>
                                       <th>Место назначения</th>
                                       <td>{{tour.destination_tour}}</td>
                                    </tr>
                                    <tr>
                                       <th>Отъезд</th>
                                       <td>{{tour.depature_tour}}</td>
                                    </tr>
                                    <tr>
                                       <th>Время отправления</th>
                                       <td>{{tour.departure_time_tour}}</td>
                                    </tr>
                                    <tr>
                                       <th>Время возврата</th>
                                       <td>{{tour.return_time_tour}}</td>
                                    </tr>
                                    <tr>
                                       <th>Включено</th>
                                       <td>
                                          <ul class="included-list">
                                             <li><i class="bi bi-check2"></i>{{tour.included_tour}}</li>
                                            
                                          </ul>
                                       </td>
                                    </tr>
                                    <tr>
                                       <th>Исключенный</th>
                                       <td>
                                          <ul class="excluded-list">
                                             <li><i class="bi bi-x-lg"></i>{{tour.excluded_tour}}</li>
                                            
                                          </ul>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="2" class="tour-transport-col">
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                              <div class="rating-overview">
                                 <h3 class="d-subtitle">Обзор</h3>
                                 <div class="rating-overview-row row g-0">
                                    
                                    <div class="col-lg-8 col-md-7 col-sm-7">
                                       <div class="rating-info">
                                          <div class="rating-box">
                                             <h6>Жилье <span>{{tour.accommodation_tour}}</span></h6>
                                             <div class="rating-bar"></div>
                                          </div>
                                          <div class="rating-box" data-progress="{{lesson.number}}">
                                             <h6>Транспорт <span>{{tour.transport_tour}}</span></h6>
                                             <div class="rating-bar"></div>
                                          </div>
                                          <div class="rating-box">
                                             <h6>Комфорт <span>{{tour.comfort_tour}}</span></h6>
                                             <div class="rating-bar"></div>
                                          </div>
                                          <div class="rating-box">
                                             <h6>Гостеприимство <span>{{tour.hospitality_tour}}</span></h6>
                                             <div class="rating-bar"></div>
                                          </div>
                                          <div class="rating-box">
                                             <h6>Еда <span>{{tour.food_tour}}</span></h6>
                                             <div class="rating-bar"></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="comment-section">
                                 <ul class="comment-list">
                                    {% for comment in tour.post_comment.all %}
                                    <li class="single-comment d-flex flex-sm-row flex-column ">
                                       <div class="commmentor">
                                          <img src="{% static 'assets/images/reviewer/avater2.png' %}" alt="">
                                       </div>
                                       <div class="comment mt-4 mt-sm-0">
                                          <div class="d-flex align-items-center justify-content-between">
                                             <div class="info">
                                                <h6>{{comment.name}}</h6>
                                                <span>{{comment.created}}</span>
                                             </div>
                                             
                                          </div>
                                          <p>{{comment.message}}</p>
                                          <div class="reply-btn">
                                             <a ><i class="bi bi-reply-all-fill"></i>{{comment.email}}</a>
                                          </div>
                                       </div>
                                    </li>
                                    {%endfor%}
                                 </ul>
                                 <div class="comment-btn text-center">
                                    <a href="#">View All Comment</a>
                                 </div>
                              </div>
                              <form  method="POST">
                                 {% csrf_token%}
                                 <div class="comment-form mt-110">
                                    <h4>Оставьте свой комментарий</h4>
                                    <div class="row">
                                       <div class="col-lg-6">
                                          <div class="custom-input-group">
                                             <input type="text" placeholder="Ваше имя" name="name">
                                          </div>
                                       </div>
                                       <div class="col-lg-6">
                                          <div class="custom-input-group">
                                             <input type="email" placeholder="Ваша почта" name="email">
                                          </div>
                                       </div>
                                    </div>
                                    
                                    <div class="custom-input-group">
                                       <textarea cols="20" name = "message" rows="7" placeholder="Ваш комментарий"></textarea>
                                    </div>
                                    
                                    <div class="custom-input-group">
                                       <div class="submite-btn">
                                          <button type="submit">Отправить сообщение</button>
                                       </div>
                                    </div>
                                 </div>
                              </form>
                           </div>
                           
                        </div>
                     </div> 
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="package-sidebar">
                     <aside class="package-widget-style-2 widget-form mt-30">
                        <div class="widget-title text-center d-flex justify-content-between">
                           <h4>Book This Tour</h4>
                           <h3 class="widget-lavel">$75 <span>Per Person</span></h3>
                        </div>
                        <div class="widget-body">
                           <form action="#" method="post" id="booking-form">
                              <div class="booking-form-wrapper">
                                 <div class="custom-input-group">
                                    <input type="text" placeholder="Your Full Name" id="name">
                                 </div>
                                 <div class="custom-input-group">
                                    <input type="email" placeholder="Your Email" id="email">
                                 </div>
                                 <div class="custom-input-group">
                                    <input type="tel" placeholder="Phone" id="phone">
                                 </div>
                                 <div class="custom-input-group">
                                    <i class="bi bi-chevron-down"></i>
                                    <select id="ticket_type">
                                       <option selected>Tickets Type</option>
                                       <option value="1">Tickets Type 1</option>
                                       <option value="2">Tickets Type 2</option>
                                       <option value="3">Tickets Type 3</option>
                                    </select>
                                 </div>
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <div class="custom-input-group">
                                          <i class="bi bi-chevron-down"></i>
                                          <select id="truist-adult">
                                             <option selected>Adult</option>
                                             <option value="1"> 1</option>
                                             <option value="2"> 2</option>
                                             <option value="3"> 3</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="custom-input-group ">
                                          <i class="bi bi-chevron-down"></i>
                                          <select id="tourist-child">
                                             <option selected>Child</option>
                                             <option value="1"> 1</option>
                                             <option value="2">2</option>
                                             <option value="3"> 3</option>
                                          </select>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="custom-input-group">
                                    <i class="bi bi-calendar3"></i>
                                    <input placeholder="Select your date" type="text" name="checkIn" id="datepicker2" value="" class="calendar">
                                 </div>
                                 <div class="custom-input-group">
                                    <textarea cols="20" rows="7" placeholder="Your message"></textarea>
                                 </div>
                                 <div class="custom-input-group">
                                    <div class="submite-btn">
                                       <button type="submit">Book Now</button>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </aside>
                     <aside class="package-widget-style-2 widget-recent-package-entries mt-30">
                        <div class="widget-title text-center">
                           <h4>Пакет предложений</h4>
                        </div>
                        <div class="widget-body">
                           <ul>
                              {% for tour in random_tour%}
                              <li class="package-sm">
                                 <div class="thumb">
                                    <a href="{%url 'tour_detail' tour.id%}">
                                    <img src="{{tour.image_tour.url}}" alt="">
                                    </a>
                                 </div>
                                 <div class="info">
                                    <h6><a href="{%url 'tour_detail' tour.id%}">{{tour.name_tour}}</a></h6>
                                    <div class="price">
                                       <span>Для</span>
                                       <h6><span>одного человека</span> {{tour.price_tour}}</h6>
                                    </div>
                                 </div>
                              </li>
                              {%endfor%}
                           </ul>
                        </div>
                     </aside>
                     {% comment %} <aside class="package-widget-style-2 widget-tag-cloud mt-30">
                        <div class="widget-title text-center">
                           <h4>Package Tag</h4>
                        </div>
                        <div class="tag-cloud widget-body">
                           <a href="#">Adventure</a>
                           <a href="#">Trip</a>
                           <a href="#">Guided</a>
                           <a href="#">Historical</a>
                           <a href="#">Road Trips</a>
                           <a href="#">Tourist</a>
                           <a href="#">Weekend</a>
                           <a href="#">Hill</a>
                        </div>
                     </aside> {% endcomment %}
                     {% comment %} <aside class="widget-banner mt-30">
                        <a href="#">
                        <img src="{% static 'assets/images/banner/sidebar-banner.png' %}" alt="" class="img-fluid">
                        </a>
                     </aside> {% endcomment %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% include 'footer.html'%}

{%endblock%}